* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}

body {
    background: #4e5f83;
    color: #fff;
}

.wrapper {
    padding: 10px 10%;
}

#card-area {
    padding: 50px 0;
}

.intro h1{
    text-align: center;
}

.box-area {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.box {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(-100px);
    transition: transform 1.8s ease, opacity 1.8s ease;
    animation: fadeInLeft 1.8s ease forwards;
}

.box:nth-child(1) {
    animation-delay: 0.6s;
}

.box:nth-child(2) {
    animation-delay: 0.4s;
}

.box:nth-child(3) {
    animation-delay: 0.2s;
}


.box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    
    
}


.overlay {
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, #1c1c1c 78%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.overlay h3 {
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 50%;
    font-family: bebas neue;
    font-size: 30px;
    letter-spacing: 2px;
}

.overlay a {
    margin-top: 10px;
    color: #262626;
    text-decoration: none;
    font-size: 14px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
}

.box:hover img {
    transform: scale(1.2);
}

.box:hover .overlay {
    height: 100%;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.visible {
    opacity: 1;
    transform: translateX(0);
}

.intro {
    background-image: url("https://media.springernature.com/lw703/springer-static/image/art%3A10.1038%2Fs41591-022-01900-5/MediaObjects/41591_2022_1900_Figa_HTML.png");
    background-color: #cccccc;
    height: 800px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

